<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
  <div class="app-main">
    <app-common-side-nav></app-common-side-nav>
    <div class="app-main_outer">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start justify-content-between">
            <h1 class="page-title">الشركات</h1>
            <button
              type="button"
              (click)="resetForm(); getActiviteis()"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              إضافة شركه
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-table">
            <table
              id="example"
              class="display table table-hover"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>رقم</th>
                  <th>اسم الشركه</th>
                  <th>الرقم الضريبي</th>
                  <th>الشهاده</th>
                  <th>كود النشاط</th>
                  <th>الاجراءات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comp of companyList">
                  <td>{{ comp.id }}</td>
                  <td>{{ comp.name }}</td>
                  <td>{{ comp.taxNumber }}</td>
                  <td>{{ comp.certificate }}</td>
                  <td>{{ comp.activity?.code }}</td>
                  <!-- <td>{{ comp.activity?.code }}</td> -->
                  <td>
                    <ul>
                      <li>
                        <a
                          (click)="setToEdit(comp); getActiviteis()"
                          data-bs-toggle="modal"
                          data-bs-target="#exampleModalEditCompany"
                        >
                          <i class="far fa-edit"></i>
                        </a>
                      </li>
                      <li>
                        <a (click)="deleteCompany(comp.id)">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/app-container-->
<!--Add Company modal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">إضافة شركه</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <mat-form-field class="col-6">
              <mat-label>اسم الشركه </mat-label>
              <input
                required
                name="name"
                matInput
                placeholder="name"
                [(ngModel)]="companyModel.name"
              />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label>الرقم الضريبي </mat-label>
              <input
                required
                name="taxNumber"
                matInput
                placeholder="taxNumber"
                [(ngModel)]="companyModel.taxNumber"
              />
            </mat-form-field>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  required
                  [(ngModel)]="companyModel.activity"
                  name="activity"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option *ngFor="let item of activityList" [ngValue]="item.id">
                    {{ item.code }}
                  </option>
                </select>
                <label for="floatingSelect"> كود النشاط</label>
              </div>
            </div>
            <mat-form-field class="col-6">
              <mat-label>شهاده الشركه</mat-label>
              <input
                required
                name="certificate"
                matInput
                placeholder="Egy Trust"
                [(ngModel)]="companyModel.certificate"
              />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label>pin </mat-label>
              <input
                required
                name="pin"
                type="number"
                matInput
                [(ngModel)]="companyModel.pin"
              />
            </mat-form-field>

            <mat-form-field class="col-6">
              <mat-label>dllLibPath</mat-label>
              <input
                value="epass2003.dll"
                name="dllLibPath"
                matInput
                placeholder="epass2003.dll"
                [(ngModel)]="companyModel.dllLibPath"
              />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label>clientId111 </mat-label>
              <input
                required
                name="clientId"
                matInput
                [(ngModel)]="companyModel.clientId"
              />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label>client Secret 1</mat-label>
              <input
                required
                name="clientSecret1"
                matInput
                [(ngModel)]="companyModel.clientSecret1"
              />
            </mat-form-field>
            <div class="col-12 justify-content-end">
              <div
                class="modal-buttons d-flex align-items-center justify-content-end"
              >
                <button
                  (click)="addCompany()"
                  type="submit"
                  class="btn btn-success"
                >
                  اضافه شركه
                </button>
                <button
                  id="modalCreate"
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  إغلاق
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- edit modal -->
<div
  class="modal fade"
  id="exampleModalEditCompany"
  tabindex="-1"
  aria-labelledby="exampleModalEditLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalEditLabel">
          تعديل بينات الشركه
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="companyModel.name"
                  name="roleName"
                  type="text"
                  class="form-control"
                  id="roleName"
                  placeholder="اسم الشركه"
                />
                <label for="floatingSelect">اسم الشركه</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="companyModel.taxNumber"
                  name="taxNumber"
                  type="text"
                  class="form-control"
                  id="tax"
                  placeholder="الرقم الضريبي"
                />
                <label for="floatingSelect">الرقم الضريبي</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  [(ngModel)]="activityId"
                  name="activity"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option
                    *ngFor="let activity of activityList"
                    [value]="activity.id"
                  >
                    {{ activity.code }}
                  </option>
                </select>
                <label for="floatingSelect"> كود النشاط</label>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="companyModel.certificate"
                  name="roleName"
                  type="text"
                  class="form-control"
                  id="roleName"
                  placeholder="اسم الشركه"
                />
                <label for="floatingSelect">شهادة الشركه</label>
              </div>
            </div>
            <mat-form-field class="col-6">
              <mat-label>pin </mat-label>
              <input
                name="pin"
                type="number"
                matInput
                [(ngModel)]="companyModel.pin"
              />
            </mat-form-field>

            <mat-form-field class="col-6">
              <mat-label>dllLibPath</mat-label>
              <input
                name="dllLibPath"
                matInput
                [(ngModel)]="companyModel.dllLibPath"
              />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label>clientId </mat-label>
              <input
                name="clientId"
                matInput
                [(ngModel)]="companyModel.clientId"
              />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label>client Secret 1</mat-label>
              <input
                name="clientSecret1"
                matInput
                [(ngModel)]="companyModel.clientSecret1"
              />
            </mat-form-field>
            <div class="col-12 justify-content-end">
              <div
                class="modal-buttons d-flex align-items-center justify-content-end"
              >
                <button
                  (click)="edit()"
                  type="submit"
                  data-bs-dismiss="modal"
                  class="btn btn-success"
                >
                  تعديل شركه
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  إغلاق
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
