<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
      <div class="app-main">
        <app-common-side-nav></app-common-side-nav>
          <div class="app-main_outer">
             
                      <div class="row">
                          <div class="col-12">
                              <div class="d-flex align-items-start justify-content-between">
                                  <h1 class="page-title">
                                       الوحدات
                                  </h1>
                              </div>
                          </div>
                      </div>
                     <div class="row">
                       <div class="col-12">
                          <div class="main-table">
                      
      
                            <table id="example" class="display table table-hover" style="width:100%">
                              <thead>
                                  <tr>
                            
                                      <th>كود الوحدة</th>
                                      <th>اسم الوحدة عربي</th>
                                      <th>اسم الوحدة إنجليزي</th>                               
                                  </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let unit of unitData">
                                  <td>{{unit.code}}</td>
                                  <td>{{unit.desc_ar}}</td>
                                  <td>{{unit.desc_en}}</td>
              
                              </tr>
                          
                              </tbody>
                          </table>
                          </div>
                       </div>
                     </div>
                     
                    </div>
       
      </div>
  </div>