<!--app-container-->
<div class="app-container">
    <app-comman-header></app-comman-header>
        <div class="app-main">
          <app-common-side-nav></app-common-side-nav>
            <div class="app-main_outer">
               
                        <div class="row">
                          <div class="col-12">
                            <div class="d-flex align-items-start justify-content-between">
                                <h1 class="page-title">
                                     إضافة اشعار دائن
                                </h1>
                            </div>
                        </div>
                        </div>
                       <div class="row">
                         <div class="col-12">
                            <div class="main-form">
                              <form>
                                <div class="row">
                                  
                                  <div class="col-lg-6 col-md-12 mb-3">
                                    <div class="form-floating">
                                      <select [(ngModel)]="selectedBranch" name="branchName" (change)="setBranch()" class="form-select" id="floatingSelect" 
                                      aria-label="Floating label select example">
                                        <option [ngValue]="branch" *ngFor="let branch of branchesList" selected>{{branch.brnach_name_ar}}</option>
                                      </select>
                                      <label for="floatingSelect">الفرع</label>
                                    </div>
                                  </div>
  
                                  <div class="col-lg-6 col-md-12 mb-3">
                                    <div class="form-floating">
                                      <select [(ngModel)]="selectedCountry" name="countryName" (change)="setCountry()" class="form-select" id="floatingSelect" 
                                      aria-label="Floating label select example">
                                        <option [ngValue]="country" *ngFor="let country of countriesData" selected>{{country.Desc_en}}</option>
                                      </select>
                                      <label for="floatingSelect">الدوله</label>
                                    </div>
                                  </div>
  
                                  <div class="col-lg-6 col-md-12 mb-3">
                                    <div class="form-floating">
                                      <input [(ngModel)]="date" name="date" type="date" class="form-control" id="floatingInput" 
                                        placeholder="05/2/2022" value="05/2/2022">
                                        <label for="floatingInput">تاريخ الفاتورة</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12 mb-3">
                                    <div class="form-floating">
                                      <select [(ngModel)]="selectedUser" name="userName" (change)="setUser()" class="form-select" id="floatingSelect" 
                                      aria-label="Floating label select example">
                                        <option [ngValue]="user" *ngFor="let user of usersList" selected>{{user.client_name}}</option>
                                      </select>
                                      <label for="floatingSelect">العميل</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12 mb-3">
                                    <div class="form-floating">
                                      <select [(ngModel)]="patmentType" name="patmentType" (change)="setPayment()" class="form-select" id="floatingSelect" 
                                      aria-label="Floating label select example">
                                        <option [ngValue]="method" *ngFor="let method of paymentMethods" selected>{{method}}</option>
                                      </select>
                                      <label for="floatingSelect">نوع الدفع</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-12  mb-3">
                                    <div class="form-floating">
                                      <input [(ngModel)]="comment"  name ="comment" type="text" class="form-control" id="floatingText" placeholder="ملاحظه">
                                      <label for="floatingText">ملاحظه</label>
                                    </div>
                                  </div>
                                </div>
                               </form>
                            </div>
                         </div>
                       </div>
                       <div class="row">
                        <div class="col-12">
                           <div class="main-table inner-table">
                             <div class="table-actions">
                              <button (click)="resetTypesModal()" type="button" class="btn btn-success"
                              data-bs-toggle="modal" data-bs-target="#exampleModal">
                              إضافة صنف
                            </button>
                             
                             </div>
       
                             <table id="example" class="display table table-hover" style="width:100%">
                               <thead>
                                   <tr>
                                       <th>#</th>
                                       <th>كود الصنف</th>
                                       <th>اسم الصنف</th>
                                       <th>الكمية</th>                              
                                       <th>الوحدة</th>                               
                                       <th>القيمة</th>       
                                       <th>الإجمالي</th> 
                                       <th>قيمة الخصم التجارى</th>
                                       <th>قيمة الضريبه المضافه</th>                         
                                       <th>الإجراءات</th>                        
                                   </tr>
                               </thead>
                               <tbody>
                           
                                 <tr *ngFor="let type of addedTypesList; let i = index">
                                  <td>#</td>
                                  <td>{{type.accountTypeCode}}</td>
                                  <td>{{type.typeName}}</td>
                                  <td>{{type.amount}}</td>
                                  <td>{{type.unit}}</td>
                                  <td>{{type.value}}</td>
                                  <td>{{type.total}}</td>
                                  <td>{{type.typeCommDisc}}</td>
                                  <td>{{type.typeAddedTax}}</td>
                                 <td>
                                   <ul>
                                     <!-- <li>
                                       <a href="./">
                                         <i class="far fa-edit"></i>
    
                                       </a>
                                     </li> -->
                                     <li>
                                       <a (click)="deleteType(type, i)">
                                         <i class="far fa-trash-alt"></i>
    
                                       </a>
                                     </li>
                                   </ul>
                                 </td>
                                </tr>
                               </tbody>
                           </table>
                           </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="main-details">
                          <div class="row">
                            <div class="col-md-4 col-12">
                              <h4>
                                عدد الأصناف :
                                <span>{{typesCounter}}</span>
                              </h4>
                            </div>
                            <div class="col-md-4 col-12">
                              <h4>
                                صافى الاشعار :
                                <span>{{finalEnvoiceTotal}}</span>
                              </h4>
                            </div>
                            <div class="col-md-4 col-12">
                              <h4>
                                 إجمالى الاشعار قبل الخصم :
                                <span>{{totalBeforeTaxes}}</span>
                              </h4>
                            </div>
                            <div class="col-md-4 col-12">
                          <h4>
                            إجمالى الضريبه المضافه :
                           <span>{{totalAddedTax}}</span>
                         </h4>
                            </div>
                            <div class="col-md-4 col-12">
                              <h4>
                                إجمالى الخصم التجارى :
                               <span>{{totalCommDisc}}</span>
                             </h4>
                            </div>
                          </div>
                  
                            <form class="row gy-2 gx-3 align-items-center mt-2">
                              <div class="col-auto">
                                <label class="" for="autoSizingInputGroup">نسبة ضريبة المنبع</label>
                                <div class="input-group">
                                  <input [(ngModel)]="deductionRatio" name="ratio" (keyup)="settingDeductionRatio()" type="text" class="form-control" id="autoSizingInputGroup" 
                                 >
                                  <div class="input-group-text">%</div>
    
                                </div>
                              </div>
                              <div class="col-auto">
                                <label class="" for="autoSizingInput">قيمة الخصم</label>
                                <input [(ngModel)]="deductionValue" name="deductionValue" type="number" class="form-control" id="autoSizingInput" 
                               >
                            
                              </div>
                            
                              <div class="col-auto">
                                <label class="" for="autoSizingInput">صافي المستحق</label>
                                <input [(ngModel)]="envoiceNet" name="envoiceNet" type="number" class="form-control" id="autoSizingInput" 
                               >
                            
                              </div>
                             
                             
                            </form>
                        
                        </div>
                        <div class="main-buttons">
                          <button (click)="createEnvoice()" type="submit" class="btn btn-save">
                            حفظ
                          </button>
                          <button [routerLink]="['/viewAddedNotice']" type="submit" class="btn btn-exit">
                            الرجوع
                          </button>
                        </div>
                      </div>
                      </div>
         
        </div>
    </div>
    <!--/app-container-->
    <!--Add user modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
               أصناف الفاتورة
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                
                <div class="col-lg-6 col-md-12 mb-3">
                  <div class="form-floating">
                    <select [(ngModel)]="selectedType" name="typeName" (change)="setType()" class="form-select" id="floatingSelect" 
                    aria-label="Floating label select example">
                      <option [ngValue]="type" *ngFor="let type of typesList"  selected>{{type.type_name}}</option>
                    
                    </select>
                    <label for="floatingSelect">الصنف</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="amount"  name ="amount" type="text" (keyup)="calculatePriceAndTotalPrice()" class="form-control" id="floatingText" placeholder="100" >
                    <label for="floatingText">الكمية</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="typePrice"  name ="price" type="text" (keyup)="changeTypePriceOnPurpose()" class="form-control" id="floatingText" placeholder="100">
                    <label for="floatingText">السعر</label>
                  </div>
                </div>
  
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="typeCommDisc"  name ="amount" type="text" (keyup)="calculatePriceAndTotalPrice()" class="form-control" id="floatingText" placeholder="100" >
                    <label for="floatingText">الخصم التجارى</label>
                  </div>
                </div>
  
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="totalPrice"  name ="totalPrice" type="number" class="form-control" id="floatingNumber" placeholder="800">
                    <label for="floatingNumber">الإجمالي</label>
                  </div>
                </div>
             
               
    
                <div class="col-12 justify-content-end">
                  <div class="modal-buttons d-flex align-items-center justify-content-end">
                    <!-- <button type="submit" class="btn btn-success">حفظ</button> -->
                    <button (click)="createInvocieType()" data-bs-dismiss="modal" type="submit" class="btn btn-outline-success">حفظ</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                  </div>
                </div>
              </div>
             </form>
          </div>
     
        </div>
      </div>
    </div>
  
  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
               تعديل الصنف
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                
                <div class="col-lg-6 col-md-12 mb-3">
                  <div class="form-floating">
                    <select [(ngModel)]="selectedType" name="typeNa me" (change)="setType()" class="form-select" id="floatingSelect" 
                    aria-label="Floating label select example">
                      <option [ngValue]="type" *ngFor="let type of typesList"  selected>{{type.type_name}}</option>
                    
                    </select>
                    <label for="floatingSelect">الصنف</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="amount"  name ="amount" type="number" (change)="calculatePriceAndTotalPrice()" class="form-control" id="floatingText" placeholder="8" value="8">
                    <label for="floatingEmail">الكمية</label>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="price"  name ="price" type="number"  class="form-control" id="floatingText" placeholder="100">
                    <label for="floatingText">السعر</label>
                  </div>
                </div>
             
                <div class="col-lg-6 col-md-12  mb-3">
                  <div class="form-floating">
                    <input [(ngModel)]="totalPrice"  name ="totalPrice" type="number" class="form-control" id="floatingNumber" placeholder="800">
                    <label for="floatingNumber">الإجمالي</label>
                  </div>
                </div>
             
               
    
                <div class="col-12 justify-content-end">
                  <div class="modal-buttons d-flex align-items-center justify-content-end">
                    <!-- <button type="submit" class="btn btn-success">حفظ</button> -->
                    <button (click)="createInvocieType()" data-bs-dismiss="modal" type="submit" class="btn btn-outline-success">حفظ وإضافة</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                  </div>
                </div>
              </div>
             </form>
          </div>
     
        </div>
      </div>
    </div>