<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
  <div class="app-main">
    <app-common-side-nav></app-common-side-nav>
    <div class="app-main_outer">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start justify-content-between">
            <h1 class="page-title">إضافة فاتورة بيع</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-form">
            <form>
              <div class="col-12 col-md-8">
                <div class="row col-12">
                  <mat-form-field class="col-lg-6 col-md-6">
                    <mat-label>اختر نوع الفاتوره</mat-label>
                    <mat-select
                      name="documentType"
                      [(ngModel)]="envoiceModel.documentType"
                    >
                      <mat-option
                        *ngFor="let type of documentTypes"
                        [value]="type"
                      >
                        {{ type }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-lg-6 col-md-6">
                    <mat-label>اختر العميل</mat-label>
                    <mat-select name="client" [(ngModel)]="envoiceModel.client">
                      <mat-option
                        *ngFor="let cient of clientsList"
                        [value]="cient.id"
                      >
                        {{ cient.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <mat-label>اختر العمله</mat-label>
                    <mat-select
                      name="currency"
                      [(ngModel)]="envoiceModel.currency"
                    >
                      <mat-option
                        *ngFor="let currency of currencyList"
                        [value]="currency.id"
                      >
                        {{ currency.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <mat-label>الاصدار </mat-label>
                    <input
                      matInput
                      name="version"
                      [(ngModel)]="envoiceModel.version"
                      placeholder="1.0"
                      value="1.0"
                    />
                  </mat-form-field>
                
                  <mat-form-field class="col-6">
                    <mat-label>purchaseOrderReference </mat-label>
                    <input
                      matInput
                      name="purchaseOrderReference"
                      [(ngModel)]="envoiceModel.purchaseOrderReference"
                    />
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <mat-label>purchaseOrderDescription </mat-label>
                    <input
                      matInput
                      name="purchaseOrderDescription"
                      [(ngModel)]="envoiceModel.purchaseOrderDescription"
                    />
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <mat-label>salesOrderReference </mat-label>
                    <input
                      name="salesOrderReference"
                      matInput
                      [(ngModel)]="envoiceModel.salesOrderReference"
                    />
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <mat-label>salesOrderDescription </mat-label>
                    <input
                      name="salesOrderDescription"
                      matInput
                      [(ngModel)]="envoiceModel.salesOrderDescription"
                      placeholder="salesOrderDescription"
                    />
                  </mat-form-field>
                  <mat-form-field class="col-6">
                    <mat-label>proformaInvoiceNumber </mat-label>
                    <input
                      matInput
                      name="proformaInvoiceNumber"
                      [(ngModel)]="envoiceModel.proformaInvoiceNumber"
                      placeholder="proformaInvoiceNumber"
                      [(ngModel)]="envoiceModel.proformaInvoiceNumber"
                    />
                  </mat-form-field>
                 
                </div> 
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-table inner-table">
            <div class="table-actions">
              <button
                type="button"
                (click)="addLine(); getItems(); getTaxs()"
                mat-raised-button
                color="primary"
              >
                <mat-icon></mat-icon>
                إضافة صنف
              </button>
            </div>
            <div *ngIf="lines.length > 0">
              <mat-accordion multi>
                <mat-accordion>
                  <mat-expansion-panel
                    *ngFor="let line of lines; let i = index"
                    [expanded]="line.expanded"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        line-{{ i + 1 }}
                      </mat-panel-title>
                      <mat-panel-description>
                        <mat-form-field >
                          <mat-label>القيمة</mat-label>
                          <input
                            matInput
                            name="salesTotal"
                            [value]="line.form.value.price * line.form.value.quantity"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>قيمة الخصم التجارى </mat-label>
                          <input
                            matInput
                            name="itemsDiscount"
                            [value]="line.form.value.discoundRate * (line.form.value.price * line.form.value.quantity)"
                            disabled
                          />
                        </mat-form-field>
                        <mat-form-field >
                          <mat-label>صافى القيمة بغد الخصم </mat-label>
                          <input
                            matInput
                            name="netTotal"
                            [value]="(line.form.value.price * line.form.value.quantity) - (line.form.value.discoundRate * (line.form.value.price * line.form.value.quantity)) "
                            disabled
                          />
                        </mat-form-field>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Your form content for the main item -->
                    <form [formGroup]="line.form">

                      <mat-form-field appearance="fill">
                        <mat-label>اختر الصنف </mat-label>
                <mat-select (selectionChange)="setItemPrice($event.value,line)" formControlName="itemId">
                          <mat-option
                            *ngFor="let item of itemsList"
                            [value]="item.id"
                          >
                            {{ item.name }} &nbsp; - &nbsp;{{item.taxCode}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>الكمية</mat-label>
                        <input matInput type="number" formControlName="quantity" min="1"/>
                      </mat-form-field>

                      <mat-form-field appearance="fill">
                        <mat-label>السعر</mat-label>
                        <input matInput type="number" name="price" formControlName="price" min="1"/>
                      </mat-form-field>


                      <mat-form-field appearance="fill">
                        <mat-label>Discound Rate</mat-label>
                        <input matInput type="number" formControlName="discoundRate" min="0"/>
                      </mat-form-field>

                      <!-- Child Panels -->
                      <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        (click)="addTax(line);getTaxs()"
                      >
                        <mat-icon>add</mat-icon> اصافه ضريبة
                      </button>

                      <ng-container *ngFor="let tax of line.taxs ;let y=index">
                        <mat-expansion-panel [expanded]="true">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              tax-{{y+1}}
                            </mat-panel-title>
                          </mat-expansion-panel-header>

                          <!-- Your form content for the child item -->
                          <form [formGroup]="tax.form">


                            <mat-form-field appearance="fill">
                              <mat-label>اختر النوع</mat-label>
                              <mat-select formControlName="taxId" (selectionChange)="getSubTypes($event.value)">
                                <mat-option
                                  *ngFor="let taxType of taxTypes"
                                  [value]="taxType.id"
                                >
                                  {{ taxType.code }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                              <mat-label>اختر sub</mat-label>
                              <mat-select formControlName="subTaxId">
                                <mat-option
                                  *ngFor="let taxType of subTypes"
                                  [value]="taxType.id"
                                >
                                  {{ taxType.code }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>


                            <mat-form-field appearance="fill">
                              <mat-label>تسبه الضريبه</mat-label>
                              <input
                                matInput
                                formControlName="rate"
                                type="number"
                              />
                            </mat-form-field>

                            <button
                              type="button"
                              mat-raised-button
                              color="warn"
                              (click)="removeTax(line, tax)"
                            >
                              <mat-icon>delete</mat-icon> Remove tax
                            </button>
                          </form>
                        </mat-expansion-panel>
                      </ng-container>
                    </form>

                    <div class="table-actions">
                      <button
                      type="button"
                      mat-raised-button
                      color="warn"
                      (click)="removeLine(line)"
                    >
                      <mat-icon>delete</mat-icon> Remove line
                    </button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-accordion>
            </div>

            <table
              id="example"
              class="display table table-hover"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>كود الصنف</th>
                  <th>اسم الصنف</th>
                  <th>الكمية</th>
                  <th>الوحدة</th>
                  <th>القيمة</th>
                  <th>الإجمالي</th>
                  <th>قيمة الخصم التجارى</th>
                  <th>قيمة الضريبه المضافه</th>
                  <th>الإجراءات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let type of addedTypesList; let i = index">
                  <td>#</td>
                  <!-- <td>{{ type.accountTypeCode }}</td>
                  <td>{{ type.typeName }}</td>
                  <td>{{ type.amount }}</td>
                  <td>{{ type.unit }}</td>
                  <td>{{ type.value }}</td>
                  <td>{{ type.total }}</td>
                  <td>{{ type.typeCommDisc }}</td>
                  <td>{{ type.typeAddedTax }}</td> -->
                  <td>
                    <ul>
                      <!-- <li>
                                     <a href="./">
                                       <i class="far fa-edit"></i>

                                     </a>
                                   </li> -->
                      <li>
                        <a (click)="deleteType(type, i)">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="main-details">
          <div class="row">
            <div class="col-md-4 col-12">
              <h4>
                عدد الأصناف :
                <!-- <span>{{ typesCounter }}</span> -->
              </h4>
            </div>
            <div class="col-md-4 col-12">
              <h4>
                صافى الفاتورة :
                <!-- <span>{{ finalEnvoiceTotal }}</span> -->
              </h4>
            </div>
            <div class="col-md-4 col-12">
              <h4>
                إجمالى الفاتوره قبل الخصم :
                <!-- <span>{{ totalBeforeTaxes }}</span> -->
              </h4>
            </div>
            <div class="col-md-4 col-12">
              <h4>
                إجمالى الضريبه المضافه :
                <!-- <span>{{ totalAddedTax }}</span> -->
              </h4>
            </div>
            <div class="col-md-4 col-12">
              <h4>
                إجمالى الخصم التجارى :
                <!-- <span>{{ totalCommDisc }}</span> -->
              </h4>
            </div>
          </div>

          <form class="row gy-2 gx-3 align-items-center mt-2">
            <div class="col-auto">
              <label class="" for="autoSizingInputGroup"
                >نسبة ضريبة المنبع</label
              >
              <div class="input-group">
                <!-- <input
                  [(ngModel)]="deductionRatio"
                  name="ratio"
                  (keyup)="settingDeductionRatio()"
                  type="text"
                  class="form-control"
                  id="autoSizingInputGroup"
                /> -->
                <div class="input-group-text">%</div>
              </div>
            </div>
            <div class="col-auto">
              <label class="" for="autoSizingInput">قيمة الخصم</label>
              <!-- <input
                [(ngModel)]="deductionValue"
                name="deductionValue"
                type="number"
                class="form-control"
                id="autoSizingInput"
              /> -->
            </div>

            <div class="col-auto">
              <label class="" for="autoSizingInput">صافي المستحق</label>
              <!-- <input
                [(ngModel)]="envoiceNet"
                name="envoiceNet"
                type="number"
                class="form-control"
                id="autoSizingInput"
              /> -->
            </div>
          </form>
        </div>
        <div class="main-buttons">
          <button (click)="createEnvoice() ;saveInvoice()" type="submit" class="btn btn-save">
            حفظ
          </button>
          <button
            [routerLink]="['/salesInvoice']"
            type="submit"
            class="btn btn-exit"
          >
            الرجوع
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/app-container-->
<!--Add user modal-->
<div
  class="modal fade"
  id="exampleModalAddTax"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg col-6 taxDialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">اضاقه ضريبة</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">

        <!-- 77777 -->
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">تعديل الصنف</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <!-- <select
                  [(ngModel)]="selectedType"
                  name="typeNa me"
                  (change)="setType()"
                  class="form-select"
                  id="floatingSelect"
                  aria-label="Floating label select example"
                >
                  <option
                    [ngValue]="type"
                    *ngFor="let type of typesList"
                    selected
                  >
                    {{ type.type_name }}
                  </option>
                </select>-->
                <label for="floatingSelect">الصنف</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <!-- <input
                  [(ngModel)]="amount"
                  name="amount"
                  type="number"
                  (change)="calculatePriceAndTotalPrice()"
                  class="form-control"
                  id="floatingText"
                  placeholder="8"
                  value="8"
                /> -->
                <label for="floatingEmail">الكمية</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <!-- <input
                  [(ngModel)]="price"
                  name="price"
                  type="number"
                  class="form-control"
                  id="floatingText"
                  placeholder="100"
                /> -->
                <label for="floatingText">السعر</label>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <!-- <input
                  [(ngModel)]="totalPrice"
                  name="totalPrice"
                  type="number"
                  class="form-control"
                  id="floatingNumber"
                  placeholder="800"
                /> -->
                <label for="floatingNumber">الإجمالي</label>
              </div>
            </div>

            <div class="col-12 justify-content-end">
              <div
                class="modal-buttons d-flex align-items-center justify-content-end"
              >
                <!-- <button type="submit" class="btn btn-success">حفظ</button> -->
                <button
                  (click)="createInvocieType()"
                  data-bs-dismiss="modal"
                  type="submit"
                  class="btn btn-outline-success"
                >
                  حفظ وإضافة
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  إغلاق
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
