<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
  <div class="app-main">
    <app-common-side-nav></app-common-side-nav>
    <div class="app-main_outer">

      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start justify-content-between">
            <h1 class="page-title">
              الأصناف
            </h1>

            <button (click)="getAddTypesPre('reset'); getGroups()" type="button" class="btn btn-success"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              إضافة صنف
            </button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploadFileModal">
              تحميل ملف
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-table">


            <table id="example" class="display table table-hover" style="width:100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th>كود الصنف</th>
                  <th>اسم الصنف</th>
                  <th>الكود الضريبي</th>
                  <th>الوحدة</th>
                  <th>سعر البيع</th>
                  <th>الاجراءات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let type of typesList; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{type.account_type_code}}</td>
                  <td>{{type.type_name}}</td>
                  <td>{{type.tax_code}}</td>
                  <td>{{type.unit_of_measurment}}</td>
                  <td>{{type.price}}</td>
                  <td>
                    <ul>
                      <li>

                        <a (click)="setTypeToEdite(type)" href="" data-bs-toggle="modal"
                          data-bs-target="#exampleModalEditeType">
                          <i class="far fa-edit"></i>
                        </a>
                      </li>
                      <li>
                        <a (click)="setAndDeleteType(type)" href="javascript:void(0);">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!--/app-container-->
<!--Add user modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          إضافة صنف جديد
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">

            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="itemModel.code" name="typeCode" type="text" class="form-control" id="floatingText"
                  placeholder="TU98745">
                <label for="floatingText">كود الصنف</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="itemModel.taxCode" name="typeTaxCode" type="text" class="form-control"
                  id="floatingText" placeholder="TU98745">
                <label for="floatingText">الكود الضريبي للصنف</label>
              </div>
            </div>
            <div class="col-lg-2 col-md-12  mb-3">
              <div class="form-floating">
                <select [(ngModel)]="itemModel.type" name="typeSymbol" class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option [ngValue]="sym" *ngFor="let sym of symbols" selected>{{sym}}</option>
                </select>
                <label for="floatingSelect">التكويد</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="itemModel.name" name="typeName" type="text" class="form-control" id="floatingText"
                  placeholder="TU98745">
                <label for="floatingText">اسم الصنف</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="itemModel.groupId" name="typGroupName" class="form-select" id="floatingSelect"
                  aria-label="Floating label select example">
                  <option [ngValue]="group.id" *ngFor="let group of groupsList" selected>
                    <span>{{group.code}}: </span> {{group.name }}
                  </option>
                </select>
                <label for="floatingSelect">المجموعة السلعية</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="selectedUnit" name="unitName" (change)="setUnit()" class="form-select"
                  id="floatingSelect" aria-label="Floating label select example">
                  <option [ngValue]="unit" *ngFor="let unit of unitData" selected>{{unit.desc_en}}</option>
                </select>
                <label for="floatingSelect">الوحدة</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="itemModel.price" name="price" type="number" class="form-control" id="floatingNumber"
                  placeholder="15000">
                <label for="floatingNumber">السعر</label>
              </div>
            </div>
            <!-- <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="selectedTaxType" name="tax" (change)="setTaxType()" class="form-select"
                  id="floatingSelect" aria-label="Floating label select example">
                  <option [ngValue]="tax" *ngFor="let tax of taxTypesData">{{tax.Desc_ar}}</option>

                </select>
                <label for="floatingSelect">نوع الضريبة</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="taxPercent" name="taxPercent" type="number" class="form-control" id="floatingNumber"
                  placeholder="15000">
                <label for="floatingNumber">نسبة الضريبة</label>
              </div>
            </div> -->

            <div class="col-12 justify-content-end">
              <div class="modal-buttons d-flex align-items-center justify-content-end">
                <button (click)="createType()" type="submit" data-bs-dismiss="modal" class="btn btn-success">إضافة
                  صنف</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalEditeType" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          تعديل صنف
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">

            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="typeCode" name="typeCode" type="text" class="form-control" id="floatingText"
                  placeholder="TU98745">
                <label for="floatingText">كود الصنف</label>
              </div>
            </div>
            <div class="col-lg-4 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="typeTaxCode" name="typeTaxCode" type="text" class="form-control" id="floatingText"
                  placeholder="TU98745">
                <label for="floatingText">الكود الضريبي للصنف</label>
              </div>
            </div>
            <div class="col-lg-2 col-md-12  mb-3">
              <div class="form-floating">
                <select [(ngModel)]="typeSymbol" name="typeSymbol" (change)="setSymbol()" class="form-select"
                  id="floatingSelect" aria-label="Floating label select example">
                  <option value="def" selected disabled>{{initSybol}}</option>
                  <option [ngValue]="sym" *ngFor="let sym of symbols" selected>{{sym}}</option>
                </select>
                <label for="floatingSelect">التكويد</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="typeName" name="typeName" type="text" class="form-control" id="floatingText"
                  placeholder="TU98745">
                <label for="floatingText">اسم الصنف</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="selectedTypeGroup" name="typGroupName" (change)="setTypeGroup()"
                  class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option value="def" selected disabled>{{initTypeGroup}}</option>
                  <option [ngValue]="typeGroup" *ngFor="let typeGroup of typeGroupsList" selected>
                    {{typeGroup.group_name_ar}}</option>
                </select>
                <label for="floatingSelect">المجموعة السلعية</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="selectedUnit" name="unitName" (change)="setUnit()" class="form-select"
                  id="floatingSelect" aria-label="Floating label select example">
                  <option value="def" selected disabled>{{initUnit}}</option>
                  <option [ngValue]="unit" *ngFor="let unit of unitData" selected>{{unit.desc_en}}</option>
                </select>
                <label for="floatingSelect">الوحدة</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="price" name="price" type="number" class="form-control" id="floatingNumber"
                  placeholder="15000">
                <label for="floatingNumber">السعر</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="selectedTaxType" name="tax" (change)="setTaxType()" class="form-select"
                  id="floatingSelect" aria-label="Floating label select example">
                  <option value="def" selected disabled>{{initTaxType}}</option>
                  <option [ngValue]="tax" *ngFor="let tax of taxTypesData">{{tax.Desc_ar}}</option>

                </select>
                <label for="floatingSelect">نوع الضريبة</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12  mb-3">
              <div class="form-floating">
                <input [(ngModel)]="taxPercent" name="taxPercent" type="number" class="form-control" id="floatingNumber"
                  placeholder="15000">
                <label for="floatingNumber">نسبة الضريبة</label>
              </div>
            </div>

            <div class="col-12 justify-content-end">
              <div class="modal-buttons d-flex align-items-center justify-content-end">
                <button (click)="editType()" type="submit" data-bs-dismiss="modal"
                  class="btn btn-success">تعديل</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-file-upload></app-file-upload>
