app-container
<div class="app-container">
  <app-comman-header></app-comman-header>
  <div class="app-main">
    <app-common-side-nav></app-common-side-nav>
    <div class="app-main_outer">

      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start justify-content-between">
            <h1 class="page-title">
              license
            </h1>

            <button (click)="getCompanys()" type="button" class="btn btn-success" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              إضافة license
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-table">


            <table id="example" class="display table table-hover" style="width:100%">
              <thead>
                <tr>
                  <th>رقم</th>
                  <th> تاريخ النهايه</th>
                  <th> تاريخ البدايه</th>
                  <th>اسم الشركه</th>
                  <th>الاجراءات</th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let license of licenseList">
                  <td>{{license.id}}</td>
                  <td>{{license.startDate}}</td>
                  <td>{{license.endDate}}</td>
                  <td>{{license.company.name}}</td>
                  <td>
                    <ul>
                      <li>
                        <a (click)="rmLicense(license.id)">
                          <i class="far fa-trash-alt"></i>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>

              </tbody>

            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!--/app-container-->
<!--Add user modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          إضافة license
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select [(ngModel)]="licenseModel.companyId" name="company" class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example">
                  <option selected>اختر الشركه</option>
                  <option *ngFor="let company of companyList" [value]="company.id">{{company.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <!-- <mat-form-field class="example-full-width">
                  <mat-label>حدد تاريخ انتهاء الرخصه</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="licenseModel.endDate" name="datep">
                  <mat-datepicker-toggle matIconSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
              </div>
            </div>
            <div class="col-12 justify-content-end">
              <div class="modal-buttons d-flex align-items-center justify-content-end">
                <button (click)="addLicense()" type="submit" data-bs-dismiss="modal" class="btn btn-success">إضافة
                  License</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
