     <!--Loader-->
     <div class="loader-wrapper" style="display: none">
        <div class="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
      </div>
      <!--Loader-->
<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>

    <div class="app-main">
        <app-common-side-nav></app-common-side-nav>
        <div class="app-main_outer">
          <div class="container-fluid">
           
              <div class="row">
                  <div class="col-12">
                      <div class="d-flex align-items-start justify-content-between">
                          <h1 class="page-title">
                               لوحة التحكم
                          </h1> 
                      </div>
                  </div>
              </div>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-gradient-info card-img-holder">
                      <div class="card-body">
                        <img src="../assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
                        <h4 class=" ">
                            <i class="fas fa-users"></i>
                        </h4>
                        <h2 class="">95</h2>
                        <h6 class="card-text">
                            عدد العملاء
                         </h6>
                         
                      </div>
                    </div>
                  </div>
                <div class="col-xl-3 col-md-6 ">
                  <div class="card bg-gradient-danger card-img-holder ">
                    <div class="card-body">
                      <img src="../assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
                      <h4 class=" ">
                        <i class="fas fa-clipboard-list"></i>
                      </h4>
                      <h2 class=""> 15,0000</h2>
                      <h6 class="card-text">عدد الفواتير</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 ">
                  <div class="card bg-gradient-success card-img-holder ">
                    <div class="card-body">
                      <img src="../assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
                      <h4 class=" ">
                        <i class="fas fa-check-circle"></i>
                      </h4>
                      <h2 class="">45,6334</h2>
                      <h6 class="card-text">الفواتير المقبولة</h6>
                    </div>
                  </div>
                </div>
             
                <div class="col-xl-3 col-md-6 ">
                    <div class="card bg-gradient-purble card-img-holder ">
                      <div class="card-body">
                        <img src="../assets/img/circle.svg" class="card-img-absolute" alt="circle-image">
                        <h4 class=" ">
                            <i class="fas fa-times-circle"></i>
                        </h4>
                        <h2 class="">95,5741</h2>
                        <h6 class="card-text">الفواتير المرفوضة</h6>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="inner-title">
                    <h2>
                      نظرة عامه علي المبيعات
                    </h2>
                  </div>
                </div>
                <div class="col-12">
                    <canvas id="myAreaChart" width="100%" 
                    height="40"></canvas>
                </div>
              </div>
        </div>
        </div>
    </div>
</div>
