<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
  <div class="app-main">
    <app-common-side-nav></app-common-side-nav>
    <div class="app-main_outer">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start justify-content-between">
            <h1 class="page-title">فواتير 1111</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-table">
            <div class="table-actions">
              <a
                [routerLink]="['/addSalesInvoice']"
                class="link-outlined btn btn-success"
              >
                إضافة فاتورة
              </a>
              <button
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                تنزيل ملف
              </button>
              <button
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#uploadFileModal"
              >
                تحميل ملف
              </button>
            </div>

            <table
              id="example"
              class="display table table-hover"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>uuid</th>
                  <th>رقم الفاتوره</th>
                  <th>تاريخ الفاتوره</th>
                  <th>العميل</th>

                  <th>الفرع</th>
                  <th>الرقم الضريبى</th>
                  <th>الدوله</th>
                  <th>صافى الفاتوره</th>
                  <th>ضريبة القيمه المضافه</th>
                  <th>ضريبة المنبع</th>
                  <th>صافى المستحق</th>
                  <th>الحاله</th>
                  <th>الاجراءات</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notic of envoicesList; let i = index">
                  <ng-container
                    *ngIf="
                      notic.documentType != 'discount' &&
                      notic.documentType != 'add'
                    "
                  >
                    <td>{{ notic.uuid }}</td>
                    <td>{{ notic.id }}</td>
                    <td>{{ notic.createdAt }}</td>
                    <td>{{ notic.client.name }}</td>
                    <td>{{ notic.user.branch.name_en }}</td>
                    <td>{{ notic.client.taxNumber }}</td>
                    <td>{{ notic.user.branch.address.country.desc_ar }}</td>
                    <td>{{ notic.totalSalesAmount }}</td>
                    <td>{{ notic.totalSalesAmount }}</td>
                    <td>{{ notic.totalSalesAmount }}</td>
                    <td>{{ notic.totalSalesAmount }}</td>
                    <td>
                      <div>
                        {{ notic.status }}
                        <!-- <i class="fa {{ InvoiceStatus[1] }} bg-info"></i> -->
                      </div>
                    </td>
                    <td>
                      <ul>
                        <li>
                          <a
                            (click)="setEnvoiceToEdite(notic)"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModalEditClient"
                          >
                            <i class="far fa-edit"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="deleteEnvoice(notic)"
                            href="javascript:void(0);"
                          >
                            <i class="far fa-trash-alt"></i>
                          </a>
                        </li>
                        <li>
                          <a
                            (click)="send(notic.id)"
                            href="javascript:void(0);"
                          >
                            <i class="fa fa-share bg-info"></i>
                          </a>
                        </li>
                      </ul>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            تحميل ملف
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        
          <div class="row">
            <div class="col-12">
               <div class="main-form">
                 <form>
                   <div class="row">
       
                     <div class="col-lg-6 col-md-12 mb-3">
                       <div class="form-floating">
                         <input [(ngModel)]="dateFrom" name="date" type="date" class="form-control" id="floatingInput" 
                           placeholder="05/2/2022" value="05/2/2022">
                           <label for="floatingInput">التاريخ من</label>
                       </div>
                     </div>

                     <div class="col-lg-6 col-md-12 mb-3">
                      <div class="form-floating">
                        <input [(ngModel)]="dateTo" name="date" type="date" class="form-control" id="floatingInput" 
                          placeholder="05/2/2022" value="05/2/2022">
                          <label for="floatingInput"> التاريخ الى</label>
                      </div>
                    </div>

                  <p *ngIf="errorMsg" style="color: red">حدث خطأ</p>
                     
                   </div>
                  </form>
               </div>
            </div>
          </div>
           <div class="modal-buttons d-flex align-items-center justify-content-end">
                  
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                <button (click)="exportInvoice()" type="button" class="btn btn-success">
                تحميل 
              </button>
                </div>
        </div>
   
      </div>
    </div>
  </div> -->

<app-file-upload></app-file-upload>
