<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
  <div class="app-main">
    <app-common-side-nav></app-common-side-nav>
    <div class="app-main_outer">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-start justify-content-between">
            <h1 class="page-title">المستخدمين</h1>
            <button
              (click)="getCompanys(); getRoles(); getBranches()"
              type="button"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              إضافة مستخدم
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="main-table">
            <div class="row">
              <mat-form-field [dir]="'rtl'">
                <mat-label>ابحث</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="ابحث عن مستخدم"
                  #input
                />
              </mat-form-field>
              <div class="mat-elevation-z8">
                <mat-progress-bar
                [dir]="'rtl'"
                  mode="indeterminate"
                  *ngIf="isloading"
                ></mat-progress-bar>
                <table  [dir]="'rtl'" mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="id">
                    <th  mat-header-cell *matHeaderCellDef >رقم:</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>اسم المستخدم</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>رقم التليفون </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.phone }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>الإيميل </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.email }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="tax">
                    <th mat-header-cell *matHeaderCellDef>الرقم الضريبى </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.company.taxNumber }}
                    </td>
                  </ng-container> 

                   <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef>الشركه </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.company.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>الصلاحية </th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.role.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>مدة الترخيص</th>
                    <td mat-cell *matCellDef="let element">
                      {{ dateDiff(element.company.endDate) }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>الحاله</th>
                    <td mat-cell *matCellDef="let element">
                      <ul>
                        <li>
                          <button  (click)="toggleStatus(element.id,element.online)" mat-mini-fab color="default" aria-label="Example icon button with a home icon">
                        <mat-icon color="{{element.online?'primary':'accent'}}">power_settings_new</mat-icon>
                   </button>
                        </li>
                      </ul>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>الاجراءات</th>
                    <td mat-cell *matCellDef="let element">
                      <ul>
                        <li>
                          <a
                            (click)="
                              setUserData(element);
                              getCompanys();
                              getRoles();
                              getBranches()
                            "
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModalEdit"
                          >
                            <i class="far fa-edit"></i>
                          </a>
                        </li>
                        <li>
                          <a (click)="deleteUser(element.id)">
                            <i class="far fa-trash-alt"></i>
                          </a>
                        </li>

                      </ul>
                    </td> 
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                </table>

                <mat-paginator
                [dir]="'rtl'"
                  #paginator
                  [pageIndex]="cPage"
                  [pageSize]="pageSize"
                  (page)="pageChanged($event)"
                  [pageSizeOptions]="pageSizeOptions"
                  aria-label="Select page 44"
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/app-container-->
<!--Add user modal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">إضافة مستخدم جديد</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="user.name"
                  name="userName"
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="محمود حمدى فهمى"
                />
                <label for="userName">اسم المستخدم</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="user.email"
                  name="email"
                  type="email"
                  class="form-control"
                  id="email1"
                  placeholder="name@example.com"
                />
                <label for="email1">الإيميل</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="user.password"
                  name="secretNo"
                  type="password"
                  class="form-control"
                  id="floatingPassword1"
                  placeholder="Password"
                />
                <label for="floatingPassword1">الرقم السري</label>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  [(ngModel)]="user.phone"
                  name="phoneNo"
                  type="text"
                  class="form-control"
                  id="phoneNo1"
                />
                <label for="phoneNo1">رقم التليفون</label>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  name="company"
                  [(ngModel)]="user.company"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option
                    *ngFor="let company of companysList"
                    [ngValue]="company.id"
                  >
                    {{ company.name }}
                  </option>
                </select>
                <label for="floatingSelect"> الشركه</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  name="role1"
                  [(ngModel)]="user.role"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option *ngFor="let role of roleList" [ngValue]="role.id">
                    {{ role.name }}
                  </option>
                </select>
                <label for="floatingSelect"> الصلاحية</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  name="branch"
                  [(ngModel)]="user.branch"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option
                    *ngFor="let branch of branchList"
                    [ngValue]="branch.id"
                  >
                    {{ branch.name_ar }}
                  </option>
                </select>
                <label for="floatingSelect"> الفرع</label>
              </div>
            </div>
            <div class="col-12 justify-content-end">
              <div
                class="modal-buttons d-flex align-items-center justify-content-end"
              >
                <button
                  (click)="createUser()"
                  type="submit"
                  data-bs-dismiss="modal"
                  class="btn btn-success"
                >
                  إضافة مستخدم
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  إغلاق
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Add user modal-->
<!--Add user modal-->
<div
  class="modal fade"
  id="exampleModalEdit"
  tabindex="-1"
  aria-labelledby="exampleModalEditLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalEditLabel">
          {{ user.name }}تعديل المستخدم ::
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  name="userName"
                  [(ngModel)]="user.name"
                  type="text"
                  class="form-control"
                  id="floatingText"
                  placeholder="محمود حمدى فهمى"
                />
                <label for="floatingText">اسم المستخدم</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  name="email"
                  [(ngModel)]="user.email"
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="name@example.com"
                />
                <label for="email">الإيميل</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  name="secretNo"
                  [(ngModel)]="user.password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">الرقم السري</label>
              </div>
            </div>

            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <input
                  name="phoneNo"
                  [(ngModel)]="user.phone"
                  type="text"
                  class="form-control"
                  id="phoneNo"
                  placeholder="name@example.com"
                />
                <label for="phoneNo">رقم التليفون</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  name="compantname"
                  [(ngModel)]="selectedCompany"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option
                    *ngFor="let company of companysList"
                    [ngValue]="company.id"
                  >
                    {{ company.name }}
                  </option>
                </select>
                <label for="compantname">company</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  name="role"
                  [(ngModel)]="selectedRole"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option *ngFor="let role of roleList" [ngValue]="role.id">
                    {{ role.name }}
                  </option>
                </select>
                <label for="floatingSelect"> الصلاحية</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-3">
              <div class="form-floating">
                <select
                  name="branch"
                  [(ngModel)]="selectedBranch"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg example"
                >
                  <option
                    *ngFor="let branch of branchList"
                    [ngValue]="branch.id"
                  >
                    {{ branch.name_ar }}
                  </option>
                </select>
                <label for="floatingSelect"> الفرع </label>
              </div>
            </div>
            <div class="col-12 justify-content-end">
              <div
                class="modal-buttons d-flex align-items-center justify-content-end"
              >
                <button
                  (click)="updateUser()"
                  type="submit"
                  data-bs-dismiss="modal"
                  class="btn btn-success"
                >
                  تعديل
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  إغلاق
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
