<!--app-container-->
<div class="app-container">
  <app-comman-header></app-comman-header>
      <div class="app-main">
        <app-common-side-nav></app-common-side-nav>
          <div class="app-main_outer">
             
                      <div class="row">
                          <div class="col-12">
                              <div class="d-flex align-items-start justify-content-between">
                                  <h1 class="page-title">
                                         إشعار مدين
                                  </h1>
                              </div>
                          </div>
                      </div>
                     <div class="row">
                       <div class="col-12">
                          <div class="main-table">
                            <div class="table-actions">
                         
                              <a [routerLink]="['/add-deduction-Notice']" class="link-outlined">
                                إضافة إشعار مدين
                              </a>
                            
                            </div>
      
                            <table id="example" class="display table table-hover" style="width:100%">
                              <thead>
                                  <tr>
                                   
                                    <th>رقم الإشعار</th>
                                    <th>تاريخ الإشعار</th>
                                    <th>العميل</th>  
                                                                
                                    <th>الفرع</th>                                                       
                                    <th>الرقم الضريبى</th>   
                                    <th>الدوله</th>
                                    <th>صافى الفاتوره</th>
                                    <th>ضريبة القيمه المضافه</th>
                                    <th>ضريبة المنبع</th>
                                    <th>صافى المستحق</th> 
                                    <th>الاجراءات</th>                      
                                  </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let notic of envoicesList; let i = index">
                                  <ng-container *ngIf="notic.invoice_type == 'discount'">
                                    
                                    <td>{{notic.invoice_counter}}</td>
                                    <td>{{notic.date}}</td>
                                    <td>{{notic.client}}</td>
                                    
                                    <td>{{notic.branch_name}}</td>
                                    <td>{{notic.client_tax_number}}</td>
                                    <td>{{notic.country}}</td>
                                    <td>{{notic.total_after_comm_tax}}</td>
                                    <td>{{notic.total_added_tax}}</td>
                                    <td>{{notic.discount_value}}</td>
                                    <td>{{notic.total_invoice}}</td>
                                  <td>
                                    <ul>
                                      <li> 
                                       
                                        <a (click)="setEnvoiceToEdite(notic)"  data-bs-toggle="modal" data-bs-target="#exampleModalEditClient">
                                          <i class="far fa-edit"></i>
                                        </a>
                                      </li>
                                      <li>
                                        <a (click)="deleteEnvoiceReport(notic)" href="javascript:void(0);">
                                          <i class="far fa-trash-alt"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </td>
                                </ng-container>
                                </tr>
                              </tbody>
                          </table>
                          </div>
                       </div>
                     </div>
                     
                    </div>
       
      </div>
  </div>